<!DOCTYPE html>
<html>
    <head>
        <title>Alex's Blog</title>
    </head>
    <body>
        <main>
            <section>
                <h1><a href="">Django Girls Blog</a></h1>
            </section>
            {% for post in posts %}
                <section>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </section>
            {% endfor %}
    </body>
</html>
