<!DOCTYPE html>
<html>
    <head>
        <title>Alex's Blog</title>
    </head>
    <body>
        <main>
            <section>
                <h1><a href="">Django Girls Blog</a></h1>
            </section>

            <section>
                <p>published: 00.00.0000, 00:00</p>
                <h2><a href="">My first post</a></h2>
                <p>asdfsadf asf asdf asdfasd fasdf</p>
            </section>

            <section>
                <p>published: 00.00.0000, 00:00</p>
                <h2><a href="">My second post</a></h2>
                <p>sadfasdf  asdfa sfa sdfasdf adf.</p>
            </section>
            
    </body>
</html>
